section {
  position: relative;
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

section:nth-child(odd) {
  background-color: darkslategrey;
}

section:nth-child(1) {
  background-image: url(https://picsum.photos/1600/1000);
}

section:nth-child(1) h1,
section:nth-child(3) h1 {
  color: whitesmoke;
}

section:nth-child(2) {
  background-image: url(https://picsum.photos/1600/1001);
}

section:nth-child(3) {
  background-image: url(https://picsum.photos/1600/1007);
}

h1 {
  position: absolute;
  font-size: 4rem;
}

div {
  height: 100%;
  width: 100%;
}

section:nth-child(odd) div {
  outline: 1px solid white;
}

section:nth-child(even) div {
  outline: 1px solid black;
}
